<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-sanitize.min.js"></script>
    <link rel='stylesheet' href='style.css'/>
    <title>CharacterCreators</title>
  </head>
  <body ng-app='characterApp'>
    <div>
      <div class="centre" ng-view>
      </div>
    </div>
    <script src="src/script.js"></script>
  </body>
</html>