@using  Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mysterious_Insiders</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
    </header>
    <div class="container">
        <nav class="navBar">
            <div class="navItemDiv">
                <a class="navItem" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/public/MysteriousInsidersCC.png" class="navIcon" /></a>
                <a class="navItem" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a class="navItem" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                @if (Context.Session.IsAvailable)
                {
                    if (Context.Session.GetString("username") != null)
                    {<a class="navItem" asp-area="" asp-controller="Chat" asp-action="Index">Chat</a>}
                }
            </div>
        </nav>
        @* <main role="main" class="">
                @RenderBody()
            </main> *@
        <div class='topContainer'>
            @RenderBody()
        </div>
    </div>

    <div class="footer">
        <p class="">
            &copy; 2020 - Mysterious Insiders - <a class="navItem" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </p>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
