
@{
    ViewData["Title"] = "Character Creator";
}

<h1>Create Your Character!</h1>

<div class="selectWrapper">
    <select class="primBtn" id="characterSheet">
        <option class='primBtn' value="D&D">D&D</option>
        <option class='primBtn' value="Pathfinder">Pathfinder</option>
    </select>
</div>

<div>
    @* This is where the the field for the pdf will go, along with the logic for selection *@
    @using (Html.BeginForm("ViewPDF", "Home", FormMethod.Post))
    {
        @*<a href="javascript:;" onclick="document.forms[0].submit();">View PDF</a>*@
        <hr />
        @Html.Raw(TempData["Embed"])
    }
</div>