
@{
    ViewData["Title"] = "Character Creator";
}

<div class="middleSp">

<h1>Create Your Character!</h1>

<div class="selectWrapper">
    <select class="primBtn" id="characterSheet">
        <option class='primBtn' value="D&D">D&D</option>
        <option class='primBtn' value="Pathfinder">Pathfinder</option>
    </select>
</div>

<div>
    @* This is where the the field for the pdf will go, along with the logic for selection *@
    @using (Html.BeginForm("ViewPDF", "Home", FormMethod.Post))
    {
        @*<a href="javascript:;" onclick="document.forms[0].submit();">View PDF</a>*@
        <hr />
        @Html.Raw(TempData["Embed"])
    }

    @*
        Modular sheet page needs to display the name
        it needs to display the list of modular data, which should be position absolute and use its x and y fields
        it also needs to display a checkbox for whether the sheet will be public or private
        this page also needs buttons to save the sheet to the database, and download the sheet.

        We need a page to display a user's sheets that shows them all in a table that only displays the name of the sheet and maybe an image
        on this page the user can select which sheet they want to view, which then leads the the modular sheet page.

        We need a page to display a user's characters that should look almost the same as the sheets page. maybe just a drop down to swap between would be enough.

        We can also have another page to let users search all sheets made by users.
        We can use the same table as the user's sheet page, and it just filters based on the name.
        *@
</div>
</div>