@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <h1>Welcome to Class Creator!</h1>
        <h1>Mysterious Insiders</h1>
        <br />
        <div>
        <a asp-area="" asp-controller="Home" asp-action="Login" class="primBtn">Login</a>
        <a asp-area="" asp-controller="Home" asp-action="CharacterCreator" class="primBtn">Create Character</a>
        </div>

        
    </div>
