@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to Class Creator!</h1>
    <h1>Mysterious Insiders</h1>
    <form>
        <input type="text"/>
        <button class="primBtn">Submit</button>
    </form>
</div>
