@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to Class Creator!</h1>
    <h1>Mysterious Insiders</h1>
    <a asp-area="" asp-controller="Home" asp-action="Login" class="primBtn">Login</a>
</div>
