
@{
    ViewData["Title"] = "Login";
}

<h1>Login to Mysterious Insiders!</h1>

<form>
    <input type="text" name="username"/>
    <input type="text" name="password"/>
    <div class="">
        <button class="primBtn">Login</button>
        <button class="primBtn">Sign Up</button>
    </div>
</form>
