#rollPopup {
    display: none;
    background: #c4c4c4;
    border: 1px solid black;
    width: 50%;
    height: 200px;
    overflow: scroll;
}

#window {
    display: block;
    background: #c4c4c4;
    border: 1px solid black;
    width: 400px;
    height: 800px;
    padding: 5px;
    overflow: scroll;
}