@model ModularSheet
@{
	ViewData["Title"] = "Testing";
}

<body>
	<div style="position:relative;">
		@foreach (var v in Model.Modules)
		{
			<partial name="_ModuleDataPartial" model="v.Value" />
		}
	</div>
</body>
