@model List<ModularSheet>
@using  Microsoft.AspNetCore.Http;

@{
	ViewData["Title"] = "Index";
}

<body class="middleGrid">
	<p>
		Here are all your Sheets, @Context.Session.GetString("username")
	</p>

	<p>
	@foreach (var sheet in @Model)
	{
		<a asp-action="DisplaySheet" asp-route-id="@sheet.DatabaseId" class="primBtn">
			Sheet Name: @sheet.Name
		</a>
	}
	</p>
</body>
